@use "./../../styles/variables.scss";
@use "./../../styles/mixins.scss";
.table_toolbar {
  border: 1px solid variables.$gray-color-300;
  border-bottom: 0;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem 0.5rem 0 0;
  margin-right: -0.15rem;
  @include mixins.flex(row, space-between, center);
  gap: 0.5rem;
}
.table_actions {
  @include mixins.flex(row, flex-start, center);
  gap: 0.5rem;
}
.table_size {
  margin: 0;
}
