@use "./../../styles/variables.scss";
@use "./../../styles/mixins.scss";

.columns_modal {
  max-height: 20rem;
  min-height: 10rem;
  width: 30rem;
  @include mixins.flex(column, flex-start);
  padding: 1rem 0;
  gap: 1rem;
}
.modal_header {
  border-bottom: 1px solid black;
}
.modal_footer {
  border-top: 1px solid black;
}
.filter_container {
  @include mixins.flex(row, space-between, center);
  gap: 1rem;
}
.column_select {
  width: 15rem;
}
